.toctree-wrapper {
    visibility: hidden;
    height: 0px;
}

.highlight-console {
  background-color: black;
  color: #FFFFFF;
  font-family: "Courier Prime", monospace;
 /* font: 1.3rem Inconsolata, monospace; */
  /* font-family: Menlo,Monaco,Consolas,Courier New,monospace; */
  font-size: 12px;
  line-height: 1.0;
  width: 700px;
  box-shadow: 2px 2px 2px gray;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/*
.highlight {
    background: #000000;
}
*/

/*
.highlight .go {
   color: #FFFFFF;
}
*/

.highlight .gp {
/*  color: #c65d09; */
/*  font-weight: normal; */
/*  font: 1.3rem Inconsolata, monospace; */
}

.command {
  font-family: "Courier Prime", monospace;
  display: block;
  background: #443e3e;
  text-shadow: 0 1px black;
  padding: 1rem;
  border-top: 9px solid #85898c;
  border-left: 9px solid #85898c;
  border-bottom: 9px solid #2a2222;
  border-right: 9px solid #2a2222;
  border-radius: 3px;
  color: #eee;
}
.command::before {
  content: "$ ";
}

ol.arabic {
  padding-left: 100px;
  padding-bottom: 20px;
  font-size:16px;
}

ol > li {
  margin-bottom: 20px;
}

p {
  padding: 4px;
  margin: 10px;
}

html { 
  margin:0; 
  padding:0; 
  height:100%; 
}

body {
  font-family: open sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 14px;
  line-height: 1.375;
  position: relative
  margin:0; 
  padding: 0 0 0 0;
  height:100%; 
  width: 100%;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  scroll-padding-top: 28px;
}

.topic {
  font-size: 20px;
  margin-left: 80px;
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 750px;
  padding: 15px;
/*  box-shadow: 4px 4px 4px gray; */
  border-radius: 4px;
  border-left-width: 6px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #0E5C8D;
  border-left-color: #0E5C8D;
  border-top-color: #0E5C8D;
  border-right-color: #0E5C8D;
  border-bottom-color: #0E5C8D;
}

.topic-title {
  font-size: 24px;
  margin-left: 0px;
}

.caption-text {
  font-size: 20px;
  font-style: italic;
}

.caption {
  padding-left: 50px;
  text-align: right;
  margin-right: 50px;
}

.align-default {
  text-align: center;
}

/*
.hero-header {
  background:
    url(_static/images/logo.png) bottom center no-repeat,
    url(_static/images/background-pattern.png) repeat;
}
*/

.hero-header-image {
  background: url(../images/adaptive-apps-PARENT-solutions-illustration-hero_hd.jpg);
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 34px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-left: 275px;
  padding-top: 80px;
  padding-right: 0px;
}

.hero-header-block {
  font-size: 22px;
  font-style: italic;
  color: #FFFFFF;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 84px;
}

.subtopic {
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 12px;
  max-width: 640px;
  padding: 15px;
/*  box-shadow: 4px 4px 4px gray; */
  border-radius: 4px;
  border-left-width: 6px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #0E5C8D;
  border-left-color: #0E5C8D;
  border-top-color: #0E5C8D;
  border-right-color: #0E5C8D;
  border-bottom-color: #0E5C8D;
  background-color: #ECECEE;
}

.orderedlistitem {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 12px;
  max-width: 640px;
  padding: 15px;
/*  box-shadow: 4px 4px 4px gray; */
  border-radius: 4px;
  border-left-width: 6px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #0E5C8D;
  border-left-color: #0E5C8D;
  border-top-color: #0E5C8D;
  border-right-color: #0E5C8D;
  border-bottom-color: #0E5C8D;
  background-color: #ECECEE;
}

.youtube-hero {
  position: fixed;
  left: 270;
  top: 600px;
  margin-left: 30px;
  padding: 0px;
  border-radius: 0px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.youtube-sidebar {
  position: fixed;
  right: 0;
  top: 255px;
  margin-right: 30px;
/*  width: 250px; */
/*  float: right; */
/*  display: block; */
/*  margin-left: 25px; */
/*  background-color: #d4eaf6; */
  padding: 0px;
  border-radius: 0px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

pre {
    display: block;
    padding: 10.5px;
    margin: 0 0 0px;
/*    font-size: 12px; */
    line-height: 1.375;
/*    color: #4d4f53; */
    word-break: break-all;
    word-wrap: break-word;
/*    background-color: #f5f5f5; */
/*    border: 1px solid #ccc; */
/*    border-radius:0 */
}

.sidebar {
  font-size: 12px;
  position: fixed;
  top: 470px;
  right: 0;
  width: 215px;
  margin-right: 98px;
  z-index: 1000;
  border-radius: 4px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #0E5C8D;
  border-left-color: #0E5C8D;
  border-top-color: #0E5C8D;
  border-right-color: #0E5C8D;
  border-bottom-color: #0E5C8D;
  background-color: #ECECEE;
  padding: 0px;
}

.sidebar-title {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0E5C8D;
  padding: 4px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.sidebar-subtitle {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
  padding: 4px;
  padding-left: 20px;
}

#searchbox {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 10;
}

#sidebar, .section-nav {
  width: 270px;
  position: fixed;
  top: 0px;
  transition: all 0.3s;
  background-color: #0E5C8D;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 20px 0px 0px 20px;
  font-size: 16px;
  color: #FFFFFF;
  min-height: 1080px;
  z-index: 10;
  background-image: linear-gradient(to bottom,#0E5C8D 25%, #FFFFFF 80%);
}


@media (min-width: 1271px) {
    #content {
      margin-left: 0;
      min-height: 728px;
    }
    #content.active {
      margin-left: 270px;
      margin-right: 340px
    }
}

@media (max-width: 1270px) {
    #content {
      margin-left: 325px;
    }
    #content.active {
      margin-left: 0;
    }
}

.nav-sidebartoc {
    font-size: 14px;
  z-index: 10;
}

#content {
  padding: 0px;
  transition: all 0.3s;
}

#content.active {
  margin-left: 270px;
  margin-right: 400px;
}

.site-article-inner {
    width: 100%;
    display: inline-grid;
}

.docs-container {
  margin-left: 0px;
  display: block;
}

.breadcrumb {
  font-size: 16px;
/*  background-color: #0E5C8D; */
  margin: 0px;
  left: 10px;
/*  padding: 5px; */
  color: #FFFFFF;
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: 10;
}

i.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 22px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius:0
  z-index: 10;
}

.breadcrumb > li {
    display:inline-block
  z-index: 10;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #39404b;
    content: "/\00a0"
  z-index: 10;
}

.breadcrumb > .active {
    color:#39404b
  z-index: 10;
}

.breadcrumbanchor:link    {color:white;}
.breadcrumbanchor:visited {color:white;}
.breadcrumbanchor:hover   {color:gray;}
.breadcrumbanchor:active  {color:white;}

.breadcrumbcurrent {
  font-style: italic;
  z-index: 10;
}

.navigation-container {
  position: fixed;
  right: 220px;
  top: -6px;
  z-index: 10;
}

.titlebar {
  height: 37px;
  z-index: 10;
  margin-left: 270px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.next-prev-btn-row {
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn-primary{

   background-color: #f1f1f1;
   border-color: #0E5C8D;
   color: #0E5C8D;

}

.btn-primary:hover{

   background-color:#0c5c8d;
   border-color: #f1f1f1;
   color: #f1f1f1;

}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.375;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none
}

.titlebarbackground {
  height: 37px;
  z-index: -10;
  background-image:
    linear-gradient(
      to right,
      #0E5C8D, #FFFFFF
    );
  margin-left: 270px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
